{% extends 'base.html' %}

{% block content %}

<div class="conta-form">

    <h2>Senha alterada</h2>

    <p style="text-align:center;">
        Sua senha foi redefinida com sucesso.
    </p>

    <div
        style="
            text-align:center;
            margin-top:20px;
        "
    >

        <a
            href="{% url 'login' %}"
            class="btn-criar-conta"
            style="
                display:inline-block;
                text-decoration:none;
            "
        >
            FAZER LOGIN
        </a>

    </div>

</div>

{% endblock %}