{% extends 'base.html' %}

{% block content %}

<div class="conta-form">

    <h2>Senha alterada</h2>

    <p class="texto-auxiliar">
        Sua senha foi redefinida com sucesso.
    </p>

    <a
        href="{% url 'login' %}"
        class="btn-criar-conta btn-link"
    >
        FAZER LOGIN
    </a>

</div>

<style>

.conta-form {
    max-width: 500px;
    margin: 60px auto;
}

.texto-auxiliar {
    text-align: center;
    margin-bottom: 25px;
}

.btn-link {
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white !important;
}

</style>

{% endblock %}