.minha-conta-page{
    max-width:1200px;
    margin:auto;
    padding:40px 20px;
}

.conta-topo{
    text-align:center;
    margin-bottom:40px;
}

.breadcrumb{
    color:#777;
    font-size:14px;
}

.conta-topo h1{
    font-size:42px;
    margin-top:10px;
}

.conta-grid{
    display:grid;
    grid-template-columns:350px 1fr;
    gap:30px;
}

.box-conta-info{
    background:#fff;
    border-radius:16px;
    padding:25px;
    margin-bottom:20px;

    box-shadow:0 3px 10px rgba(0,0,0,0.05);
}

.box-header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:20px;
}

.box-header h3{
    margin:0;
}

.btn-conta{
    background:#111;
    color:#fff;

    border:none;
    padding:10px 18px;

    border-radius:10px;
    cursor:pointer;

    font-weight:600;
}

.dados-usuario p{
    margin:8px 0;
}

.titulo-pedidos{
    margin-bottom:20px;
}

.pedido-card{
    background:#f4f4f4;

    border-radius:14px;
    padding:20px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:15px;
}

.pedido-card strong{
    font-size:24px;
}

.pedido-info{
    display:flex;
    align-items:center;
    gap:15px;
}

.pedido-info a{
    color:#333;
    font-size:18px;
}

.btn-sair-conta{
    margin-top:20px;

    display:inline-flex;
    align-items:center;
    gap:10px;

    background:#111;
    color:#fff;

    text-decoration:none;

    padding:10px 10px;
    border-radius:12px;

    font-weight:400;
}

@media (max-width:768px){

    .conta-grid{
        grid-template-columns:1fr;
    }

    .conta-topo h1{
        font-size:32px;
    }

    .pedido-card{
        flex-direction:column;
        align-items:flex-start;
        gap:10px;
    }

    .pedido-card strong{
        font-size:20px;
    }

}

.form-conta{
    max-width:700px;
    margin:auto;

    display:flex;
    flex-direction:column;
    gap:14px;
}

.form-conta input{
    height:54px;
    padding:0 16px;

    border:1px solid #dcdcdc;
    border-radius:12px;

    font-size:15px;
}

.btn-salvar-conta{
    height:54px;

    background:#111;
    color:#fff;

    border:none;
    border-radius:12px;

    font-weight:600;
    font-size:15px;

    cursor:pointer;
}