{% extends 'base.html' %}

{% block content %}

<div class="contato-container">

    <!-- ✅ ESQUERDA -->
    <div class="contato-info">

        <h2>Contato</h2>

        <p>
            <i class="fa-brands fa-whatsapp"></i>
            (41) 99999-9999
        </p>

        <p>
            <i class="fa-regular fa-envelope"></i>
            atendimento@fractionsparfums.com
        </p>

        <p>
            Atendimento <br>
            Segunda a sexta, das 08h às 18h
        </p>

    </div>

    <!-- ✅ DIREITA -->
        {% if messages %}
            {% for message in messages %}

                <div class="
                    {% if message.tags == 'success' %}
                        msg-ok
                    {% else %}
                        msg-error
                    {% endif %}
                ">
                    {{ message }}
                </div>

            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <label>Nome completo</label>
            <input type="text" name="nome" required>

            <label>E-mail</label>
            <input type="email" name="email" required>

            <label>Telefone</label>
            <input type="text" name="telefone">

            <label>Mensagem</label>
            <textarea name="mensagem" required></textarea>

            <!-- ✅ reCAPTCHA -->
            <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_SITE_KEY }}"></div>

            <button type="submit" class="btn-enviar">
                ENVIAR
            </button>

        </form>

    </div>

</div>

<!-- ✅ script obrigatório -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}