{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="conta-form">

    <h2>
        Iniciar sessão
    </h2>

    {% if messages %}
        {% for message in messages %}

            <div class="msg-success">
                {{ message }}
            </div>

        {% endfor %}
    {% endif %}

    <form method="post">

        {% csrf_token %}

        <input
            type="hidden"
            name="next"
            value="{{ request.GET.next }}"
        >

        <div class="form-group">

            <label>
                E-mail
            </label>

            <input
                type="email"
                name="email"
                required
            >

        </div>

        <div class="form-group">

            <label>
                Senha
            </label>

            <input
                type="password"
                name="senha"
                required
            >

        </div>

        <button
            type="submit"
            class="btn-criar-conta">

            ENTRAR

        </button>

    </form>

    <!-- ✅ CRIAR CONTA -->
    <div class="login-extra">

        <p>
            Ainda não tem conta?
        </p>

        <a
            href="{% url 'criar_conta' %}?next={% url 'checkout' %}"
            class="link-criar-conta"
        >
            Criar conta
        </a>

    </div>

</div>

{% endblock %}