{% extends 'base.html' %}
{% load static %}
 
{% block content %}
 
<div class="pagina-interna">
 
    <div class="container-quem">
 
        <h1>Quem Somos</h1>
 
        <p>
            Sou Douglas Antonio e, desde a adolescência, desenvolvi uma grande paixão por perfumes e aromas.
            Sempre acreditei no poder que uma fragrância tem de transformar a presença,
            trazendo sofisticação e elegância únicas.
</p>
 
        <p>
            Minha jornada no universo da perfumaria começou em 2017, após ter contato com uma fragrância
            que despertou minha curiosidade. Em 2025, esse interesse se intensificou,
            levando-me a explorar diferentes aromas por meio de amostras e aprofundar meu conhecimento.
</p>
 
        <p>
            Inicialmente, comecei indicando fragrâncias para amigos próximos,
            sem a intenção de vender. No entanto, ainda em 2025, ao aprender programação,
            criei minha própria página e passei a oferecer amostras online,
            alcançando um público cada vez maior.
</p>
 
        <p>
            Hoje, não sigo sozinho nessa jornada. Minha esposa, Priscila,
            é minha parceira em cada etapa. Juntos, cuidamos de todos os detalhes,
            desde o conteúdo até as embalagens.
</p>
 
        <p>
            Nossa missão é proporcionar experiências únicas de elegância e bem-estar,
            tornando o universo dos perfumes acessível a todos.
</p>
 
        <!-- ✅ BOTÃO -->
<a href="{% url 'home' %}" class="btn-home">
            Voltar para Home
</a>
 
    </div>
 
</div>
 
{% endblock %}